/* Layout principal PDV */
.pdv-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

/* Coluna da Esquerda */
.pdv-coluna-itens {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Coluna da Direita */
.pdv-coluna-pagamento .card-pagamento {
  border: 1px solid #dee2e6;
  border-radius: 6px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.total-display {
  text-align: right;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 1rem;
}
.total-display span {
  font-size: 0.9rem;
  font-weight: 600;
  color: #6c757d;
}
.total-display h2 {
  margin: 0;
  font-size: 2.5rem;
  color: #343a40;
}
.total-display.troco h2 {
  color: #adb5bd; /* Cor cinza para troco zero */
}
.total-display.troco h2.positivo {
  color: #28a745; /* Cor verde para troco positivo */
}


/* Layout do formulário interno */
.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 100%;
}
.form-row {
  display: grid;
  gap: .5rem;
}
.form-row-duplo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  align-items: end;
}
.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}